<div class="hash-cards">
  <div *ngFor="let post of posts" class="hash-card">
    <div *ngIf="post.title">
      <div class="category">
        <p>Trending in Country</p>
        <div
          class="btn-group"
          ngbDropdown
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <button class="btn arrow-btn" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button
              class="goTweet-btn"
              ngbDropdownItem
              [routerLink]="'/tweet/' + post.id"
            >
              Go Tweet
            </button>
            <button *ngIf ="users"
              class="reply-btn"
              ngbDropdownItem
              [routerLink]="'commentform/tweet/' + post.id"
            >
              Send Reply
            </button>
          </div>
        </div>
      </div>
      <div class="title">
        <h5># {{ post.title }}</h5>
      </div>
      <div class="tweet">
        <p>{{ post.likeCount }} Like!</p>
      </div>
      <div class="content">
        <p>{{ post.text }}</p>
      </div>
    </div>
  </div>
  <div class="line"></div>
</div>
