 <div class="greeting-page">
        <h1>Welcome To
         <span class="h">H</span>
         <span class="u">U</span>
         <span class="e">E</span>
         <span class="d">D</span>
        
         Tweet !</h1>
        <div class="cards">
          <div class="flip-card sign-in">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="card-img" src="assets/signIn.png" alt="">
              </div>
              <div class="flip-card-back">
                <app-login-form></app-login-form>
              </div>
            </div>
          </div>
      
          <div class="flip-card sign-in">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="card-img" src="assets/joinUs.png" alt="">
                </div>
                <div class="flip-card-back">
                  <app-register-form></app-register-form>
                </div>
              </div>
            </div>
        </div>
     <div class="get-tweets-card">         
        <div class="flip-card get-tweets">
          <a routerLink = "/home">
            <div class="flip-card-front">
                <img class="card-img" src="assets/getTweets.png" alt="">
            </div>
          </a>
        </div>

     </div>
      </div>
