<div class="comments-page">
    <div class="greeting-text">
        <h4> Tweet Detail </h4>
        <hr>
       </div>
    <div class="selected-tweet">
        <app-tweet-card (likeTweet)="like($event)" [users] = "users" [posts]="posts"></app-tweet-card>
    </div>
    <div class="greeting">
        <h3> Comments </h3>
    </div>
    <div class="tweet-comments">
        <app-comment-card [users] ="users"  [comments]="comments" (like)="likeCommentClick($event)" (reComment)="reCommentClick($event)"></app-comment-card>
    </div>
</div>

