<div class="user-cards" *ngFor="let user of users;let indexOfelement=index;">
  <div class="user-card">
    <div class="card-body">
      <div class="card-img">
        <img class="xs-circle" [src]="getAvatarImg(indexOfelement)" alt="" />
      </div>
      <div class="card-text">
        <p class="user-name">{{ user.username | titlecase}}</p>
        <p class="user-nick">@ {{ user.username }}</p>
      </div>
    </div>
    <div>
      <button *ngIf ="!follow" (click)="deneme1()" class="btn btn-sm btn-outline-danger">
       Follow
      </button>
      <button *ngIf ="follow" (click)="deneme2()" class="btn btn-sm btn-outline-danger">
        Unfollow
      </button>
    </div>
  </div>
  <div class="line"></div>
</div>
