<nav class="nav-bar">
  <a routerLink="/home" class="app-logo">
    <span class="h">H</span>
    <span class="u">U</span>
    <span class="e">E</span>
    <span class="d">D</span>
  </a>
  
  
  <div *ngIf="!user; else userMenu" class="nav-links">
    <div class="nav-link">
      <button
      routerLink ="/"
      type="button"
      class="btn btn-outline-success"
    >
      Login
    </button>
    </div>
    <div class="nav-link">
      <button
      routerLink ="/"
      type="button"
      class="btn btn-outline-warning"
    >
      Register
    </button>
    </div>
  </div>

  <ng-template #userMenu>
    <div class="login-navbar">
     <div class="nav-links">
      <div class="greeting">
        <img class="sm-circle greeting-img" [src]="imgProfile" alt="">
      <h5 class="greeting-text">Hello , {{ user.username | titlecase }}</h5>
       </div>
        <a routerLink="/home" href="#" class="nav-link">Home</a>
        <a routerLink="/profile" href="#" class="nav-link">Profile</a>
        <a (click)="logout()" href="#" class="nav-link">Logout</a>
     </div>
    </div>
  </ng-template>
</nav>
