<nav class="nav-bar">
  <a routerLink="/" class="app-logo">Hued Tweet</a>

  <div *ngIf="!user; else userMenu" class="nav-links">
    <div class="nav-link">
      <button
      type="button"
      class="btn btn-outline-success"
      data-toggle="modal"
      data-target="#exampleLogin"
    >
      Login
    </button>
    </div>
    <div class="nav-link">
      <button
      type="button"
      class="btn btn-outline-warning"
      data-toggle="modal"
      data-target="#exampleRegister"
    >
      Register
    </button>
    </div>
  </div>

  <!-- ********************* MODALS ***************** -->

  <!--------- Login Modal ------------->
  <div
    class="modal fade"
    id="exampleLogin"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content login-modal">
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>

  <!--------- Register Modal ------------->
  <div
    class="modal fade "
    id="exampleRegister"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content register-modal">
        <app-register-form></app-register-form>
      </div>
    </div>
  </div>

  <!-- ********************* MODALS ***************** -->

  <ng-template #userMenu>
    <div class="login-navbar">
      <a class="nav-link">Hello , {{ user.username | titlecase }}</a>
      <a routerLink="/profile" href="#" class="nav-link">Profile</a>
      <a (click)="logout()" href="#" class="nav-link">Logout</a>
    </div>
  </ng-template>
</nav>
