.card {
  background-color: transparent;
  padding: 10px 0px;
  border: none;
  .cover {
    height: 300px;
    overflow: hidden;
  }

  .cover-img {
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
  }

  .image {
    transform: translateY(150px);
    position: absolute;
    padding: 0 15px;

    .profile-img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      background-color: black;
      border: 6px solid black;
      border-radius: 50%;
    }
  }

  .card-texts {
    margin-top: 80px;
    color: snow;

    p {
      font-size: 14px;
    }
  }

  .user-info {
    display: flex;

    .info-item {
      .date-icon {
        color: greenyellow;
      }
      .mail-icon {
        color: orangered;
      }
      i {
        padding-right: 10px;
      }
      display: flex;
      align-items: center;
      padding-right: 20px;
    }
    p {
      margin: 0;
    }
  }

  .upload-img-btn{
    z-index: 1;
    position: absolute;
    margin-left: 150px;
    transform: translateY(-50px);
    display: flex;
    align-items: center;

    .upload-btn{
    padding: 8px 14px;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 145, 0);
    outline: none;

    i{
      color: white;
    }
    }

    .save-btn{
      padding: 8px 10px;
      border: none;
      border-radius: 50px;
      background-color: cornflowerblue;
      color: white;
      font-weight: 500;
      margin-left:20px;
    }
  }

  .file-input{
    display: none;
  }
}
