<div class="login-card">
  <form class="box" (submit)="login()">
    <h1>Login</h1>
    <p class="text-muted">Please enter your Username and password!</p>
    <label for="identifier"></label>
    <input
      type="text"
      id="identifier"
      name="identifier"
      placeholder="Username"
      [(ngModel)]="form.identifier"
    />
    <label for="password"></label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      [(ngModel)]="form.password"
    />
    <a class="forgot text-muted" href="#">Forgot password?</a>
    <button class="btn-login" type="submit" [disabled]="isLoading">
      {{ isLoading ? "Loading..." : "Login" }}
    </button>
  </form>
</div>
