.page{
    margin-top: 20px;
    padding: 0 210px;
    display: flex;
    justify-content: space-between;

    .side-nav{
        width: 280px;
    }

    .page-body{
        max-width: 800px;
    }

    .page-side-bar{
        margin-top: 70px;
        max-width: 350px;
    }
}