<div class="login-card">
    <form class="box" (submit)="register()">
      <h1>Join Us !</h1>
      <p class="text-muted">Please enter your Form!</p>
      <label for="username"></label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        [(ngModel)]="form.username"
      />

      <label for="email"></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email"
        [(ngModel)]="form.email"
      />

    
      <label for="password"></label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="form.password"
      />

      <label for="confirm-password"></label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        placeholder="Confirm Password"
        [(ngModel)]="form.confirmPassword"
      />



      <button class="btn-login" type="submit" [disabled]="isLoading">
        {{ isLoading ? "Loading..." : "Login" }}
      </button>
    </form>
  </div>
