.hash,.follow{
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(23, 24, 26);

    a{
        color: brown;
        cursor: pointer;
        padding: 0 15px;
    }
}