 <form action="#"  (submit)="saveUser()">
      <div class="form-item">
        <label class="label-username" for="username">
          Username :
        </label>
        <input
          type="text"
          name="username"
          id="username"
          [(ngModel)]="users.username"
        />
      </div>

      <div class="form-item">
        <label class="label-email" for="email">
          Email :
        </label>
        <input
          type="text"
          name="email"
          id="email"
          [(ngModel)]="users.email"
        />
      </div>
      <div class="action">
        <button (click)="closeForm()" class="btn btn-block" type="submit">Save</button>
      </div>
    </form>
