<div class="tweet-form">
  <form action="#" (submit)="sendTweet()">
    <div>
      <div class="form-item">
        <label for="name"></label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Your Title.."
          [(ngModel)]="tweet.title"
        />
      </div>
    </div>
    <div class="form-body">
      <div>
        <img class="sm-circle" [src]="AvatarImg" alt="" />
      </div>
      <div class="form-item">
        <label for="text"></label>
        <textarea
          name="text"
          id="text"
          cols="100"
          rows="1"
          placeholder="What's happening ?"
          [(ngModel)]="tweet.text"
        ></textarea>
      </div>
    </div>
    <div *ngIf="fileUrl" class="form-img">
      <div>
        <img [src]="fileUrl" alt="" />
      </div>
      <div class="img-close-button">
        <button type="button" (click)="closeImg()"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="actions">
      <div class="action-icons">
        <button type="button" (click)="fileInput.click()">
          <i class="far fa-image"></i>
        </button>
        <button href="/"><i class="far fa-square"></i></button>
        <button href="/"><i class="fas fa-poll-h"></i></button>
        <button href="/"><i class="far fa-smile"></i></button>
        <button href="/"><i class="fas fa-business-time"></i></button>
        <input
          (change)="selectFile($event)"
          class="file-input"
          type="file"
          #fileInput
        />
      </div>
      <div class="action-btn">
        <button class="btn btn-danger" type="submit">Tweet</button>
      </div>
    </div>
  </form>
</div>
