<div class="comment-form">
  <form action="#" (submit)="sendTweet()">
    <div>
      <div class="form-item">
        <label for="name"></label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Your Title.."
          [(ngModel)]="tweet.title"
        />
      </div>
    </div>
    <div class="form-body">
      <div>
        <img class="sm-circle" src="https:/unsplash.it/200/202" alt="" />
      </div>
      <div class="form-item">
        <label for="text"></label>
        <textarea
          name="text"
          id="text"
          cols="47"
          rows="5"
          placeholder="Tweet your reply"
          [(ngModel)]="tweet.text"
        ></textarea>
      </div>
    </div>
    <div class="actions">
      <div class="action-icons">
        <a href="/"><i class="far fa-image"></i></a>
        <a href="/"><i class="far fa-square"></i></a>
        <a href="/"><i class="fas fa-poll-h"></i></a>
        <a href="/"><i class="far fa-smile"></i></a>
        <a href="/"><i class="fas fa-business-time"></i></a>
      </div>
      <div class="action-btn">
        <button class="btn btn-danger" type="submit">Tweet</button>
      </div>
    </div>
  </form>
</div>
