<div *ngIf = "users"  class="profile-page">
  <div class="greeting-text">
    <h4>{{ users.username | titlecase}}</h4>
    <hr />
  </div>

  <div *ngIf="users" class="profile-card">
    <app-profile-card [imgProfile]="profileImg" [users]="users"></app-profile-card>

    <div class="edit-actions">
      <div class="open">
        <button (click)="editForm()" class="btn btn-warning edit-btn">
          Edit Your Profile
        </button>
      </div>
      <div class="close">
        <button
          *ngIf="show"
          (click)="closeEditForm()"
          class="btn btn-danger close-btn"
        >
          Close Form
        </button>
      </div>
    </div>

    <div *ngIf="show" class="edit-form">
      <app-edit-profile-form (formClose)="closeEditForm()"></app-edit-profile-form>
    </div>

    <hr />

    <div class="user-posts">
      <app-tweet-card [users]="users" [posts]="userPosts" (likeTweet)="like($event)"  (reTweet)="retweet($event)" ></app-tweet-card>
    </div>

    <ng-template #gettingUser>
      <div>
        <h1>Getting User..</h1>
      </div>
    </ng-template>
  </div>
</div>
