/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c2223 !important;
}

.sm-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.xs-circle {
  border-radius: 50%;
  max-width: 50px;
}

.line {
  background-color: #3a444c;
  max-width: 650px;
  height: 1px;
  margin: 10px 0;
}

.like-btn {
  display: flex;
  align-items: center;
  .action-btn {
    padding: 0 6px !important;
    border-radius: 100px !important;

    i {
      font-size: 13px;
    }
  }
  label {
    color: rgba(255, 255, 255, 0.493);
    transform: translateY(4px);
    padding: 0 10px;
    cursor: pointer;
  }
}

.retweet-btn {
  display: flex;
  align-items: center;
  .action-btn {
    padding: 0 5px !important;
    border-radius: 100px !important;

    &:hover {
      color: rgba(255, 255, 255, 0.493);
    }

    i {
      font-size: 13px;
    }
  }
  label {
    color: rgba(255, 255, 255, 0.493);
    transform: translateY(4px);
    padding: 0 10px;
    cursor: pointer;
  }
}

.detail-btn {
  display: flex;
  align-items: center;
  .action-btn {
    padding: 2px 7.3px !important;
    border-radius: 100px !important;

    i {
      font-size: 13px;
    }
  }
  label {
    color: rgba(255, 255, 255, 0.493);
    transform: translateY(4px);
    padding: 0 10px;
    cursor: pointer;
  }
}

.reply-btn {
  display: flex;
  align-items: center;
  .action-btn {
    padding: 0 6px !important;
    border-radius: 100px !important;

    i {
      font-size: 13px;
    }
  }
  label {
    color: rgba(255, 255, 255, 0.493);
    transform: translateY(4px);
    padding: 0 10px;
    cursor: pointer;
  }
}



.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 0 35px 0 black;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  .card-img{
    width: 220px;
  }
  
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}






/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
